@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: mediumaquamarine;

}

.wrapper{
    width: 420px;
    background-color: plum;
    color: white;
    border-radius: 10px;
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    border: 2px solid gray;
    font-size: 16px;
    color: #fff;
    padding:20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;

}

.wrapper .remember-forgot{
    display: flex;
    font-size: 14.5px;
    margin: -15 0 15;
}

.wrapper .btn{
    width:100%;
}